.card__container {
    display: grid;
    grid-template-areas: 
    "place like-bottom"
    "place like-counter";
    align-items: center;
    justify-content: space-between;
    max-width: 246px;
    margin: 0 auto;
}