.profile__add-button {
    width: 150px;
    height: 50px;
    grid-area: add-button;
    align-self: center;
    justify-self: end;
    background-color: transparent;
    border: 2px solid #ffffff;
    background-image: url(../../../images/add.svg);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: opacity .3s linear;
}

.profile__add-button:hover {
    opacity: 60%;
}

@media screen and (max-width:702px) {
    .profile__add-button{
        width: 282px;
        background-size: 16px 16px;
    }
}